In [1]:
import requests
import pandas as pd

In [2]:
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 50.4547,
	"longitude": 30.5238,
	"hourly": ["temperature_2m", "wind_speed_10m"],
	"timezone": "Europe/Berlin"
}
response = requests.get(url, params=params)
if response.status_code == 200:
    data = response.json()
    hourly_dataframe = pd.DataFrame(data['hourly'])
hourly_dataframe

                 time  temperature_2m  wind_speed_10m
0    2025-06-21T00:00            12.2            12.9
1    2025-06-21T01:00            12.0            11.6
2    2025-06-21T02:00            12.1            10.8
3    2025-06-21T03:00            12.0            10.8
4    2025-06-21T04:00            12.0            10.6
..                ...             ...             ...
163  2025-06-27T19:00            22.1             8.9
164  2025-06-27T20:00            20.4             6.4
165  2025-06-27T21:00            19.3             4.3
166  2025-06-27T22:00            18.5             3.1
167  2025-06-27T23:00            17.7             3.0

[168 rows x 3 columns]

In [ ]:
df_3days=hourly_dataframe.iloc[0:72]
min_temperature_3days=df_3days["temperature_2m"].min()
max_temperature_3days=df_3days["temperature_2m"].max()
mean_temperature_3days=df_3days["temperature_2m"].mean()
wind_spead_greater_mean=hourly_dataframe["wind_speed_10m"] > hourly_dataframe["wind_speed_10m"].mean()
hours_wind_spead_greater_mean=wind_spead_greater_mean.value_counts().get(True)

0       True
1       True
2       True
3       True
4       True
       ...
163    False
164    False
165    False
166    False
167    False
Name: wind_speed_10m, Length: 168, dtype: bool